body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #ffffff;
  color: #000000;
}
p{font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

h1 {
  color: #339966;
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

hr {
  width: 75%;
}

.kuva-kehys {
  border: 1px solid #000000;
  padding: 25px;
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

ol {
  list-style-type: upper-alpha;
}

ol ul {
  list-style-type: square;
}

.lisatietoja {
  text-align: center;
  clear: both;
}